body{
    padding: 0;
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/588/660/non_2x/abstract-blur-gradient-background-with-trend-pink-purple-violet-and-blue-colors-for-deign-concepts-wallpapers-web-presentations-and-prints-vector-illustration.jpg);
    background-color:transparent;
    display: flex;
    justify-content: center;
}


 .container{
    max-width: 720px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}


.header{
    max-width: 720px;
    margin: 0 0 30px 0;
    padding: 0 10px;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

#description{
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 16px;
        font-style: italic;
    }

#survey_form{
    max-width: 720px;
    padding: 40px;
    background-color: #1b1b32;
    border-radius: 9px;
    opacity: 0.8;
}

.form-group{
    max-width: 100%;
    margin:0 auto 20px auto;
    padding: 4px;
}

.form-control{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
    border: 1px solid;
    box-sizing: border-box;
}

label{
    margin-bottom: 8px;
    color: beige;
    display: block;
}


p{
    color: beige;
}

.input-textarea{
    min-height: 120px;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    box-sizing: border-box;
}

.submit-button{
    min-width: 100%;
    background-color: #37af65;
    padding: 12px;
    font-size: 17px;
    font-style: bold;
    color: white;
}